/* =========================================================
   AUTH PAGE
   ========================================================= */

.auth-background {

    -fx-background-color:
        linear-gradient(
            rgba(0,59,122,0.55),
            rgba(0,59,122,0.55)
        );
}

/* =========================================================
   LOGIN CARD
   ========================================================= */

.auth-card {

    -fx-background-color: white;

    -fx-background-radius: 30;

    -fx-padding: 40;

    -fx-spacing: 20;

    -fx-effect: dropshadow(
        gaussian,
        rgba(0,0,0,0.15),
        20,
        0,
        0,
        6
    );
}

/* =========================================================
   AUTH TITLE
   ========================================================= */

.auth-title {

    -fx-font-size: 30px;

    -fx-font-weight: bold;

    -fx-text-fill: #1B1F3B;
}

/* =========================================================
   AUTH SUBTITLE
   ========================================================= */

.auth-subtitle {

    -fx-font-size: 14px;

    -fx-text-fill: #6B7A99;
}

/* =========================================================
   SEARCH SECTION
   ========================================================= */

.search-field{

    -fx-background-color: white;

    -fx-background-radius: 16;

    -fx-border-color: #D0D7E2;

    -fx-border-radius: 16;

    -fx-padding: 0 18 0 18;

    -fx-font-size: 14px;

    -fx-text-fill: #1B1F3B;
}

.search-field:focused{

    -fx-border-color: #0D6EFD;

    -fx-border-width: 2;
}

/* =========================================================
   FILTER BUTTON
   ========================================================= */

.filter-button{

    -fx-background-color: white;

    -fx-border-color: #D0D7E2;

    -fx-border-radius: 14;

    -fx-background-radius: 14;

    -fx-font-size: 14px;

    -fx-font-weight: bold;

    -fx-text-fill: #1B1F3B;

    -fx-padding: 10 22 10 22;

    -fx-cursor: hand;
}

.filter-button:hover{

    -fx-background-color: #F1F5F9;
}

/* =========================================================
   FILTER BUTTON ACTIVE
   ========================================================= */

.filter-button-active{

    -fx-background-color: #0D6EFD;

    -fx-text-fill: white;

    -fx-font-size: 14px;

    -fx-font-weight: bold;

    -fx-background-radius: 14;

    -fx-padding: 10 22 10 22;

    -fx-cursor: hand;
}

.filter-button-active:hover{

    -fx-background-color: #0056D2;
}