/* =========================================================
   DETAIL CONTAINER
   ========================================================= */

.detail-container {

    -fx-padding: 30;

    -fx-spacing: 20;
}

/* =========================================================
   DETAIL IMAGE
   ========================================================= */

.detail-image {

    -fx-background-radius: 30;
}

/* =========================================================
   DETAIL TITLE
   ========================================================= */

.detail-title {

    -fx-font-size: 32px;

    -fx-font-weight: bold;
}