/* =========================================================
   ADMIN ROOT
   ========================================================= */

.admin-root {

    -fx-background-color: #F4F8FC;
}

/* =========================================================
   STAT CARD
   ========================================================= */

.stat-card {

    -fx-background-color: white;

    -fx-background-radius: 24;

    -fx-padding: 20;

    -fx-spacing: 10;

    -fx-effect: dropshadow(
        gaussian,
        rgba(0,0,0,0.08),
        10,
        0,
        0,
        4
    );
}

/* =========================================================
   ADMIN TABLE
   ========================================================= */

.admin-table {

    -fx-background-radius: 20;
}